              
<h2 class="new-comment_title">New Comment</h2>
<form class="new-comment-form mt-3 mb-4" id="form-comment-<%= thanks_card_id%>">
  <a class="pull-left" href="#"><%= gravatar_for user%></a>
  <input type="hidden" name="thankscard_id" value="<%= thanks_card_id%>">
  <div class="form-group col-xs-12 col-sm-9 col-lg-10 comment__input" style="flex:1">
    <textarea class="form-control" name="comment[message]" placeholder="Your message" required=""></textarea>
  </div>
  <button class="btn btn-primary comment-button" type="submit">Comment</button>
</form>

