<!--begin list send thanksCard -->
<div id="list-receiver-thanksCard" style="padding: 12px;">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body bg-primary text-white mailbox-widget pb-0">
          <h2 class="text-white pb-3">ThanksCard Send</h2>
          <ul class="nav nav-tabs custom-tab border-bottom-0 mt-4" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="inbox-tab" data-bs-toggle="tab" aria-controls="inbox" href="#inbox"
                  role="tab" aria-selected="true">
                <span class="d-block d-md-none"><i class="ti-email"></i></span>
                <span class="d-none d-md-block">RECEIVER</span>
              </a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link" id="delete-tab" data-bs-toggle="tab" href="#delete" role="tab" aria-controls="delete" aria-selected="false">
                <span class="d-block d-md-none"><i class="ti-trash"></i></span>
                <span class="d-none d-md-block">DELETED</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active show" id="inbox" aria-labelledby="inbox-tab" role="tabpanel">
            <div>
              <%#= render partial: 'thanks_card/list_thanks_card', locals: { thanks_card: @thankscard } %>
            </div>
          </div>
          <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="delete-tab">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end list send thanksCard -->