<div class="tab-content m-3">
  <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
    <div class="row">
      <div class="col-md-6">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
              </div>
            </div>
            <h5 class="card-title">Detailed statistics</h5>
            <canvas id="myChart" style="width:100%; height:345px"></canvas>
          </div>
        </div>
        <div class="main-card mb-3 card">
          <div class="card-body">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
              </div>
            </div>
            <h5 class="card-title">Top 1 Sent</h5>
            <div class="team-boxed" style="height:345px">
              <div class="container">
                <div class="row people d-flex">
                  <!--<div class="col-md-6 col-lg-6 item">
                    <div class="box"><img class="rounded-circle" src="https://epicbootstrap.com/freebies/snippets/team-cards/assets/img/1.jpg">
                      <h3 class="name">Ben Johnson</h3>
                      <p class="description">la nguoi gui nhieu thankscard nhat voi 120 thankscard duoc gui di</p>
                      <div class="social">
                        <a href="#"><i class="fa-solid fa-envelope"></i></a>
                        <a href="#"><i class="fa-sharp fa-solid fa-user"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 item">
                    <div class="box"><img class="rounded-circle" src="https://epicbootstrap.com/freebies/snippets/team-cards/assets/img/1.jpg">
                      <h3 class="name">Ben Johnson</h3>
                      <p class="description">la nguoi gui nhieu thankscard nhat voi 120 thankscard duoc gui di</p>
                      <div class="social">
                        <a href="#"><i class="fa-solid fa-envelope"></i></a>
                        <a href="#"><i class="fa-sharp fa-solid fa-user"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 item">
                    <div class="box"><img class="rounded-circle" src="https://epicbootstrap.com/freebies/snippets/team-cards/assets/img/1.jpg">
                      <h3 class="name">Ben Johnson</h3>
                      <p class="description">la nguoi gui nhieu thankscard nhat voi 120 thankscard duoc gui di</p>
                      <div class="social">
                        <a href="#"><i class="fa-solid fa-envelope"></i></a>
                        <a href="#"><i class="fa-sharp fa-solid fa-user"></i></a>
                      </div>
                    </div>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
              </div>
            </div>
            <h5 class="card-title">Top 1 Sent</h5>
            <canvas id="doughnut-chart" style="display: block; width: 691px; height: 345px;" width="691" height="345" class="chartjs-render-monitor"></canvas>
          </div>
        </div>
        <div class="main-card mb-3 card">
          <div class="card-body">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
              </div>
            </div>
            <h5 class="card-title">Top 1 receive</h5>
            <canvas id="polar-chart" style="display: block; width: 691px; height: 345px;" width="691" height="345" class="chartjs-render-monitor"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "chart.js" %>
