.content{
    width: 1200px;
    margin: 0 auto;
    height: 100vh;
    /* background-color: aqua; */
}

/*
*Css content left
*/
.content__left{
    /* background-color: blue; */
    height: 100%;
}

/*
*Css content items
*/
.content-items__title{
    list-style: none;
}

.content-items{
    margin: 8px;
}

.title__items{
    font-size: 11px;
    color: #3d3d3d;
    height: 18px;
    padding: 1px 6px ;
    background-color: #ccc;
    border-radius: 4px;
    margin-right: 2px;
    cursor: pointer;
}

.title__items:hover {
    color: var(--primary-color);
    opacity: 1.2;
}

.title__items.title__items--selected{
    background-color: var(--primary-color);
    font-weight: 600;
    color: #fff;
    font-size: 12px;
}

.content-items__header{
    height: 34px;
    text-align: left;
    line-height: 17px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    cursor: pointer;
}

.content-items__header-text{
    font-size: 14px;
    font-weight: 600;
}

.content-items__header-text:hover{
    color: var(--primary-color);
}
/**
* CSS primaryContent
*/
.content-items__primaryContent{
    margin-top: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.primaryContent__img{
    width: 120px;
    height: 88px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.primaryContent__text{
    flex: 1;
    display: block;
    color: #333;
    font-size: 13px;
    line-height: 18px;
    margin-left: 8px;
}

.primaryContent__text > span{
    height: 69px;
    display: block;
    max-height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    cursor: pointer;
}

.experience-address__link{
    display: block;
    margin-top: 5px;
    color: var(--text-exprience-address);
}

.experience-address__link:hover{
    color: var(--text-exprience-address);
    text-decoration-color: var(--text-exprience-address);
}

.experience-address__icon{
    color: var(--primary-color);
}

/**
* CSS content-items__footer
*/

.content-items__footer{
    margin-top: 5px;
}

.content-items__footer-list{
    list-style: none;
    margin: 0;
}

.content-items__footer-items{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--primary-font-size);
    padding: 2px 0 0 12px;
}

.content-items__footer-text{
    margin: 0 0 0 6px;
}

.content-items__footer-icon{
    font-size: 6px;
    min-width: 10px;
    max-width: 10px;
    color: var(--primary-color);
    text-align: center;
}

.content-items__footer-icon.content-items__footer-icon--video{
    font-size: 9px;
}

.content-items__footer-icon.content-items__footer-icon--star{
    font-size: 10px;
    color: red;
}

.content-items__footer-icon.content-items__footer-icon--camera{
    font-size: 10px;
    color: rgb(0, 132, 255);
}

/*
*CSS content-left
*/

.information-imageOutstanding{
    width: 100%;
    max-height : 80vh;
    min-height: 70vh;
    margin-top: 8px;
}

/**
*CSS information
*/
.information-stock__title,.information__title{
    color: var(--primary-color);
    margin-top: 12px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid #78b43d;
}

.list-information{
    list-style: none;
}

.information-items{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 17px;
}

.information-items__img{
    width: 100px;
    height: 75px;
}

.information-items__content{
    margin: 0;
    margin-left: 8px;
    height: 54px;
    width: 200px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.information-items__content:hover{
    color: var(--primary-color);
}

/**
* Css row image
*/
.content-Image{
    display: block;
    width: 100%;
    height: 150px;
}

.col--image{
    width: 100%;
    height: 100%;
}

/**
* CSS information-stock
*/

.information-stock__list{
    width: 300px;
    list-style: none;
    background-color: #fafafa;
    border: 1px solid #ededed;
    border-radius: 4px;
}

.information-stock__items{
    font-size: 12px;
    padding: 5px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.items--error{
    color: red;
}

.items--success{
    color: var(--primary-color);
}