<!-- <p class="card-all-no-comment">
                              this ThanksCard don't comment
                          </p> -->
<h2 class="carr-all-comment__title">All Comment</h2>
<ul class="comment-list">
  <li class="comment-item">
    <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                      alt="" class="comment-item_img">
    <div class="comment-content">
      <p class="comment-content__userName">Vu Minh Hieu</p>
      <p class="thanksCard--maxline comment-content__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <span class="comment-content__time">3 ngay truoc</span>
    </div>
  </li>
  <li class="comment-item">
    <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                      alt="" class="comment-item_img">
    <div class="comment-content">
      <p class="comment-content__userName">Vu Minh Hieu</p>
      <p class="thanksCard--maxline comment-content__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <span class="comment-content__time">3 ngay truoc</span>
    </div>
  </li>
  <li class="comment-item">
    <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                      alt="" class="comment-item_img">
    <div class="comment-content">
      <p class="comment-content__userName">Vu Minh Hieu</p>
      <p class="thanksCard--maxline comment-content__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <span class="comment-content__time">3 ngay truoc</span>
    </div>
  </li>
</ul>
