                
<footer id="footer">
  <footer style="background-color: #3e4551; color: aliceblue;">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <img src="https://www.tomosia.com/img/logo/company-logo-light@2x.png" class="mb-3" style="width: 160px; height: 30px;">
          <p>
            Tomosia, the company and customers create new value and light up happiness
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3 text-white" style="letter-spacing: 2px;">Product</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="#!" class="text-decoration-none text-white">Thank Card</a>
            </li>
            <li class="mb-1">
              <a href="#!" class="text-decoration-none text-white">Thank Card</a>
            </li>
            <li class="mb-1">
              <a href="#!" class="text-decoration-none text-white">Thank Card</a>
            </li>
            <li>
              <a href="#!" class="text-decoration-none text-white">Thank Card</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-1 text-white" style="letter-spacing: 2px;">opening hours</h5>
          <table class="table text-white" style="border-color: #666;">
            <tbody>
              <tr>
                <td>Mon - Fri:</td>
                <td>8am - 7pm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 TOMOSIA VIETNAM COMPANY LIMITED COPYRIGHT REGISTERED.
    </div>
    <!-- Copyright -->
  </footer>
</footer>
