footer#footer
  footer style="background-color: #3e4551; color: aliceblue;"
    .container.p-4
      .row
        .col-lg-6.col-md-12.mb-4
          img.mb-3[src="https://www.tomosia.com/img/logo/company-logo-light@2x.png" style="width: 160px; height: 30px;"]
          p Tomosia, the company and customers create new value and light up happiness
        .col-lg-3.col-md-6.mb-4
          h5.mb-3.text-white[style="letter-spacing: 2px;"] Product
          ul.list-unstyled.mb-0
            li.mb-1
              a.text-decoration-none.text-white[href="#!"]   Card
            li.mb-1
              a.text-decoration-none.text-white[href="#!"] Thank Card
            li.mb-1
              a.text-decoration-none.text-white[href="#!"] Thank Card
            li
              a.text-decoration-none.text-white[href="#!"] Thank Card
        .col-lg-3.col-md-6.mb-4
          h5.mb-1.text-white[style="letter-spacing: 2px;"] opening hours
          table.table.text-white[style="border-color: #666;"]
            tbody
              tr
                td Mon - Fri:
                td 8am - 7pm
    .text-center.p-3[style="background-color: rgba(0, 0, 0, 0.2);"]
      | © 2023 TOMOSIA VIETNAM COMPANY LIMITED COPYRIGHT REGISTERED.
