
<% if logged_in? %>
<div id="sidebar">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light"
          style="width: 280px; height: 100%; border-right: 1px solid #ccc;">
    <p class="d-flex align-items-center mb-3  me-md-auto link-dark text-decoration-none">
      <span class="fs-4">Category ThanhsCard</span>
    </p>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item ">
        <a href="#" class="nav-link active" aria-current="page">
          All ThanksCard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          ThanksCard Wendding
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          ThanksCard Cristmast
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          ThansCard Help
        </a>
      </li>
    </ul>
  </div>
</div>
<% else %>
  <div>
  
  </div>
<% end %>