doctype html
html
  head
    title = full_title(yield(:title))
    meta name="viewport" content="width=device-width, initial-scale=1"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  body
    div.app-container
      /! begin header
      == render "layouts/header"
      /! end header
      main#main
        /! begin sidebar
        == render "layouts/sidebar"
        /! end sidebar
        div#content
          div#content-main
            - flash.each do |message_type, message|
              div.mt-2.ms-2.me-2.alert.alert-#{message_type}= message
            = yield
