- provide(:title, 'Sign up')
.bg-white.p-4.h-100
  = form_with(model:@user, url: user_index_path, local: true) do |f|
    = render 'error/error_message', object: f.object
    .p-3.d-flex.justify-content-center.flex-column.align-items-center
      span.main-heading
        | Tomosia
      ul.social-list.mt-3

      .form-data
        = f.label :full_name
        = f.text_field :full_name, class: 'form-control w-100' , placeholder: "please enter your full name"
      .form-data
        = f.label :email
        = f.email_field :email, class: 'form-control w-100' , placeholder: "please enter your email"
      .form-data
        = f.label :phoneNumber
        = f.text_field :phoneNumber, class: 'form-control w-100' , placeholder: "please enter your full phoneNumber"
      .form-data
        = f.label :password
        = f.password_field :password, class: 'form-control w-100' , placeholder: "please password your password"
      .form-data
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control w-100' , placeholder: "confirm your password"
      .signin-btn.w-100.mt-2
        button.btn.btn-primary.btn-block
          | Signin