<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Thanks Cristmast</title>
  <!-- Bootstrap core CSS -->
  <link href="../assets/libary/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Component Css -->
  <link rel="stylesheet" href="../assets/css/my_css/component_css/thankCard_css/thanksCard_cristmast.css">
  <link rel="stylesheet" href="../assets/css/base.css">
</head>

<body>
  <div class="container my-5" >
    <div class="thanksCard">
      <div class="thanksCard--bg thanksCardCristmast">
        <div class="thanksCardCristmast__container">
          <p class="thanksCardCristmast__title thanksCard--maxline">gửi đến bạn bè và người thân </p>
          <h1 class="thanksCardCristmast__Content thanksCard--maxline">Cảm ơn bạn đã đến!</h1>
          <p class="thanksCardCristmast__description thanksCard--maxline">chúc mọi người một mùa giáng sinh an lành & tươi !</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JS -->
  <script src="../assets/libary/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>