<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Thanks Wendding</title>
  <!-- Bootstrap core CSS -->
  <link href="../assets/libary/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Component Css -->
  <link rel="stylesheet" href="../assets/css/my_css/component_css/thankCard_css/thanksCard_wendding.css">
  <link rel="stylesheet" href="../assets/css/base.css">
</head>

<body>
  <div class="container my-5" >
    <div class="thanksCard">
      <div class="thanksCard--bg thanksCardWendding">
        <div class="thanksCardWendding__container">
          <p class="thanksCardWendding__title">Đám Cưới Của Thành & Kim</p>
          <h1 class="thanksCardWendding__Content">Cảm ơn bạn đã đến!</h1>
          <p class="thanksCardWendding__description">Chúc tôi rất cảm kích sự hiện diện của bạn trong ngày đặc biệt này. Chúng tôi hi vọng bạn đã có một bữa tiệc vui vẻ!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JS -->
  <script src="../assets/libary/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>