/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&family=Playfair+Display:ital,wght@1,500;1,700&display=swap');

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6rem;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

:root {
    --outline-input-form-thanksCard-color:1px solid #8b3dff;
}


/**
* CSS thanks Card
*/

.thanksCard{
    max-width: 700px;
    overflow: hidden;
    letter-spacing: 1.28px;
    margin: 0 auto;
}

.thanksCard--bg{
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 50%;
    background-size: contain;
    max-height: 500px;
    min-height: 350px;
}

.thanksCard--maxline{
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
}

/**
* ThanksCard image
*/

.thanksCard__image-title{
    width: 100%;
    background-color:  rgba(0,0,0,0.05);
    padding: 4px 12px;
    border-radius: 4px;
    color: gray;
}

.thanksCard__image-list{
    overflow: hidden;
}

/**
* input
*/

.inputCustom {
    padding: 10px 6px;
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    pointer-events: unset;
    cursor: pointer;
}

.inputCustom:focus{
    outline: var(--outline-input-form-thanksCard-color);
}

.posts--css .thanksCard--bg{
    padding-bottom: 0%;
    background-size: cover;
    min-height: 450px;
}

.h-124{
    height: 124px;
    max-height: 124px;
    min-height: 124px;
}